{% extends "barbershop/sub_index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/addservice_post">
  <table class="table table-bordered">
    <tr>
      <td>Service</td>
      <td>
      <input type="text" class="form-control" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
      <textarea name="textarea" class="form-control" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td>Rate</td>
      <td>
      <input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
        <td></td>
      <td><input type="submit" class="btn btn-success" name="button" id="button" value="Add" /></td>
    </tr>
  </table>
</form>

{% endblock %}