{% extends "barbershop/sub_index.html" %}
{% block body %}
<form action="/barbershop_changepasswordpost" method="post">
    <table class="table table-bordered">
        <tr>
            <td width="150px">Old password</td>
            <td>
                <input type="password" name="o" id="o" class="form-control" required>
            </td>
        </tr>
        <tr>
            <td>New password</td>
            <td>
                <input type="password" name="n" id="n" class="form-control" required>
            </td>
        </tr>
        <tr>
            <td>Confirm password</td>
            <td>
                <input type="password" name="c"  id="c" required class="form-control">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Change Password" class="btn btn-success" id="btn" onclick="return Validate()">
            </td>
        </tr>

    </table>

</form>


<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("n").value;
        var confirmPassword = document.getElementById("c").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }

</script>



{% endblock %}