{% extends "user/sub_index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/user_changepasswordpost">
  <table class="table table-bordered">
    <tr>
      <td width="150px">Old password</td>
      <td>
      <input type="password" class="form-control"   name="o" id="textfield" required /></td>
    </tr>
    <tr>
      <td>New password</td>
      <td>
      <input type="password" name="n" id="textfield2" class="form-control"  required /></td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td>
      <input type="password" name="c" id="textfield3" class="form-control"  required /></td>
    </tr>
    <tr>
        <td></td>
      <td><input class="btn btn-success" type="submit" name="button" id="button" value="Submit" onclick="return Validate()"/></td>
    </tr>
  </table>
</form>



<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("textfield2").value;
        var confirmPassword = document.getElementById("textfield3").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>

{% endblock %}