{% extends "user/sub_index.html" %}
{% block body %}
<form method="post" action="/userviewmybookingpost">

<table>
    <tr>
        <td>From</td>
        <td><input type="date" name="f" class="form-control"></td>
        <td>To</td>
         <td><input type="date" name="t" class="form-control"></td>
         <td><input type="submit"  value="Submit" class="btn btn-success"></td>
    </tr>
</table>

<br>
<table class="table table-bordered">
  <tr>
    <th>Sno</th>
    <th>Date</th>
    <th>Time</th>
    <th>BarberShop</th>
{#    <th>Amount</th>#}
    <th>Status</th>
{#      <th></th>#}
  </tr>
    {% for i in data %}
    <tr>
        <td width="50px">{{ loop.index }}</td>
        <td>{{ i['date'] }}</td>
        <td>{{ i['time'] }}</td>
        <td>{{ i['shop_name'] }} <br> {{ i['shop_place'] }} <br> {{ i['shop_post'] }} <br> {{ i['shop_district'] }}</td>
{#        <td>{{ i['amount'] }}</td>#}
        <td>{{ i['status'] }}</td>
{#        <td width="50px">#}
{#            <a href="">More</a>#}
{#        </td>#}
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}