{% extends "user/sub_index.html" %}
{% block body %}





<form method="post" action="/userbooking">
<table>
    <tr>
        <td>Date</td>
        <td>
            <input type="date" id="date" name="date" min="{{ dt }}" class="form-control" size="60" format="MM/DD/YYYY" placeholder="MM/DD/YYYY" required>
        </td>
    </tr>
    <tr>
        <td>Time</td>
        <td>
            <input type="time" id="ti" class="form-control" min="09:00" max="19:00" required name="time"/>
        </td>
    </tr>
    <script>
	var date = new Date();
	var current_date = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+ date.getDate();
{#	var current_time = date.getHours()+":"+date.getMinutes();#}
{#	+":"+ date.getSeconds()#}
{##}
{#	var date_time = current_date+" "+current_time;#}
{#	document.getElementById("ti").min = current_time;#}
</script>

</table>


<br>
<h3>{{ sd['shop_name'] }}</h3>
    <br>






<table class="table table-bordered">
  <tr>
    <th></th>
    <th>Service name</th>
    <th>Description</th>
    <th>Rate</th>
  </tr>
    {% for i in data %}
    <tr>
        <td width="50px"><input type="checkbox" name="check1" value="{{ i['service_id'] }}"></td>
        <td>{{ i['service_name'] }}</td>
        <td>{{ i['Description'] }}</td>
        <td width="50px">{{ i['rate'] }}</td>
    </tr>
    {% endfor %}
</table>

<input type="submit" value="Submit" class="btn btn-success">
</form>
{% endblock %}



    <script type="text/javascript">
  const picker = document.getElementById('date');
 picker.addEventListener('input', function(e){
  var day = new Date(this.value).getUTCDay();
  if([6,0].includes(day)){
    e.preventDefault();
    this.value = '';
    alert('Weekends not allowed');
  }
});
    </script>